{% extends "base.html" %}

{% block title_head %}Listado de Películas{% endblock title_head %}

{% block contenido %}

<h1>Listado de Películas</h1>

<form action="{% url 'listar_peliculas' %}" method="get">
    {{ formulario }}
    <input type="submit" value="Buscar">
</form>

{% if peliculas %}
    <ul>
        {% for pelicula in peliculas %}
            <li>
                <h2>{{ pelicula.pelicula }} ({{ pelicula.anio }})</h2>
                <p>Género: {{ pelicula.genero }}</p>

                <h3>Imágenes:</h3>
                {% for img in pelicula.imagenes.all %}
                    <img src="{{ img.imagen.url }}" width="200">
                {% empty %}
                    <p>No tiene imágenes.</p>
                {% endfor %}

                <a href="{% url 'ver' pelicula.id %}">Ver</a>
                <a href="{% url 'actualizar' pelicula.id %}">Actualizar</a>
                <a href="{% url 'eliminar' pelicula.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron películas.</p>
{% endif %}

{% endblock contenido %}





