<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title_head %}Base{% endblock title_head %}
    </title>
</head>    
<body>

    <nav>
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'crear' %}">Crear Pelicula</a>
        <a href="{% url 'listar_peliculas' %}">Listar Peliculas</a>


        {% if user.is_authenticated %}
            <span>Hola {{ user.username }}!</span> 
            <a href="{% url 'perfil' %}">Mi perfil</a>
            <a href="{% url 'logout' %}">Cerrar sesión</a>
        {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
            <a href="{% url 'registrarse' %}">Registrarse</a>
        {% endif %}
    </nav>

    <main>
        {% block contenido %}
        {% endblock contenido %}
    </main>

</body>
</html>
